.menu label {
  width: 20px;
  height: 24px;
  display: block;
  cursor: pointer;
}

.menu input + label {
  position: relative;
}

.menu input + label span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  display: block;
  background-color: black;
  border-radius: 2px;
  transition: all 0.5s;
}

.menu input + label :first-child {
  top: 0;
}

.menu input + label :nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu input + label :last-child {
  bottom: 0;
}

.menu input:checked + label :first-child {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu input:checked + label :nth-child(2) {
  opacity: 0;
}

.menu input:checked + label :last-child {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.menu label:hover span {
  background-color: tomato;
}

.menu input:checked + label:hover span {
  background-color: blue;
}
