* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-component {
  border: 1px solid;
  width: 300px;
  border-color: lightgray;
  border-radius: 10px;

  overflow: hidden;
}

.card-component img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.card-component div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card-component p {
  font-weight: 300;
  line-height: 1.6;
  /* text-indent: 10px; */
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: whitesmoke;
  padding: 10px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.5;
  transform: scale(0.98);
}

.card-component .btn {
  background-color: royalblue;
  color: white;
}

/* .클래스.클래스 .... 여러 클래스를 동시에 가지고 있는 클래스를 선택 */
.card-component.fv {
  width: 100%;
  height: 240px;
  position: relative;
}

.card-component.fv img {
  height: 100%;
}

.card-component.fv div {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: white;
}

.card-component.fv::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.card-component.fv .btn {
  margin-top: 20px;
  opacity: 0.5;
  visibility: hidden;
  transition: all 0.5s;
}

.card-component.fv:hover .btn {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

.card-component.fv:hover h3,
.card-component.fv:hover p {
  opacity: 0.2;
  transition: all 0.5s;
}
